* {
    margin:0em;
    padding:0em;
    border:0;
}
header{
    position:relative;
    width: 100%;
    height:5em;
    background:#58C9B9;
}
header div:nth-child(1){
    float:left;
    height:5em;
    width:15%;
    background:#58C9B9;
}
header div:nth-child(2){
    float:left;
    height:5em;
    width:85%;
    background:#00bbee;
}
header div:first-child{
    height:5em;
    width:15%;
    background:#00bbee;
}
header img{
    width: 4em;
    height:4em;
    padding:0.5em 3em 0.5em 4em;
    float:left;
    display:block;
}
header h1{
    width:10em;
    line-height:2em;
    text-align:center;
    color:#fff;
    background:#00bbee;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
nav{
    height:37em;
    width:12%;
    float:left;
    background:#519D9E;
}
content{
     height:37em;
     width:88%;
     float:left;
     background:#9DC8C8;
}
body nav button:nth-child(1){
    margin:50% 25% 15% 25%;
}
body nav button{
    font:500 15px '微软雅黑';
    margin:15% 25%;
    display:block;
    width:50%;
    height:2em;
    background: #4285F4;
    color:#fff;
    border:1px; border-radius:5em/7em;
}
#operation{
    background: #519D9E;
}
#operation button:nth-child(1){
    margin-left:6em;
}
#operation button{
    font:500 15px '微软雅黑';
    margin:1em 1em 1em 1em;
    padding:0.5em 2em;
    background: #4cae4c;
    color:#fff;
    border:1px; border-radius:5em/7em;
}
#operation button:nth-child(1){
    background-image:url(../image/add.png);
    background-size:15% 34%;
    background-position:83% 52%;
    background-repeat:no-repeat;
}
#operation button:nth-child(2){
    background-image:url(../image/delete.png);
    background-size:15% 34%;
    background-position:83% 52%;
    background-repeat:no-repeat;
}
#operation button:nth-child(3){
    background-image:url(../image/modify.png);
    background-size:15% 34%;
    background-position:83% 52%;
    background-repeat:no-repeat;
}
#operation button:nth-child(4){
    background-image:url(../image/inquire.png);
    background-size:15% 34%;
    background-position:83% 52%;
    background-repeat:no-repeat;
}